.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

/* HEADER STYLES */

.header {
  background: center / cover no-repeat #fff url(../images/background_header.svg);
  height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: -50px;
}

.nav__links {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;
}

.nav__link {
  color: #000;
  text-decoration: none;
  font-weight: 500;
}

.header__title {
  margin: 183px 0 0 0;
  max-width: 729px;
  display: block;
  font-size: 60px;
  line-height: 72px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  line-height: 72px;
  color: #3f96f3;
}

.header__span-lower {
  display: block;
  font-weight: 500;
  letter-spacing: -0.6px;
}

.header__description {
  max-width: 683px;
  margin: 28px 0 0 0;
}

.header__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header__paragraph {
  color: #6f6f6f;
  font-weight: 500;
  margin: 0;
}

/* RECIPE STYLES */

.recipes {
  background: center / cover no-repeat #0a2750
    url(../images/background_recipes.svg);
  padding: 100px 80px 215px;
}

.recipes__title {
  color: #fff;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  margin: 0 0 24px;
}

.recipes__subtitle {
  color: #fff;
  max-width: 438px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 80px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px 24px;
  flex-wrap: wrap;
  list-style-type: none;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: 0;
}

.recipes__video-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  width: 480px;
  display: flex;
  justify-content: space-between;
}

/* RESERVATION STYLES */

.reservation {
  background: center / cover no-repeat #d9e7ff
    url(../images/background_reservation.svg);
  padding: 100px 0 120px;
  display: flex;
  flex-direction: column;
}

.reservation__title {
  margin: 0 auto;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  margin: 80px auto 0;
  max-width: 385px;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  padding: 0;
  border: 0;
}

.form__label {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-top: 32px;
}

.form__input {
  margin-top: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  padding: 15px 20px;
  border: 1px solid #838383;
  border-radius: 4px;
}

.form__input::placeholder,
.form__input::-moz-placeholder,
.form__input::-webkit-input-placeholder {
  color: #838383;
}

.form__label_name_name {
  margin-top: 0;
}

.form__label_name_agree {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
}

.form__checkbox:checked {
  display: none;
}

.form__checkbox + span {
  display: none;
}

.form__checkbox:checked + span {
  background-image: url(../images/check.svg);
  background-color: #1878dc;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.form__button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding: 20px 0;
  border: 0;
  margin: 32px 0 0;
  background-color: #1878dc;
  color: #fff;
  border-radius: 4px;
  transition: background-color 0.5s ease;
}

.form__button:hover {
  background-color: #3f96f3;
}
